{% extends "base.html" %}
{% block title %}Face adder{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<form name="addFace" enctype="multipart/form-data" action="/add_face" method="post" class="p-3">
    <h1 class="p-3">Add new face to pending faces</h1>
    <label for="faceImage">Face image:</label>
    <input type="file" name="faceImage" id="faceImage" class="form-control-file"/>

    <input type="submit" value="Submit" class="btn btn-default"/>
</form>
{% endblock %}