{% extends "base.html" %}
{% block title %}Detected strangers{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<form action="{{ url_for('face_store') + person_id_param }}" method="post" enctype="multipart/form-data" class="p-3 justify-content-center">
    <h1 class="p-3">Add face form</h1>
    <label for="file">Face image:</label>
    <input type="file" name="file" id="file" class="form-control-file"/>

    <input type="submit" value="Submit" class="btn btn-default"/>
    {{ form.csrf_token }}
</form>

<script type="text/javascript">
</script>
{% endblock %}