{% extends "base.html" %}
{% block title %}Detected strangers{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Detected strangers</h1>
  <table class="table table-striped">
  <thead>
  <tr>
    <th>Face image</th>
    <th>Date</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  {% for user in pending_users %}
    <tr>
      <td><img src="{{ user.img_url }}" alt="{{ user.id }}"/></td>
      <td>{{ user.ts }}</td>
      <td><a href="{{ user.train_known }}#known" >Add</a>/<a href="{{ user.train_ignore }}#ignore" >Ignore</a></td>
    </tr>
  {% endfor %}
</table>
<p class="navbar-btn">
  <a href="{{ url_for('add_face') }}" class="btn btn-default">Add face</a>
</p>
{% endblock %}