{% extends "base.html" %}
{% block title %}Detected strangers{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="card border-{{ 'success' if person else 'danger' }} align-center" style="width: 18rem;">
    <div class="card-header">Doorbell Notification</div>
    <img class="card-img-top" src="{{ url_for('face_get', object_id = notification.icum_face_id) }}?w=280" alt="{{ notification.id }}">
    <div class="card-body text-{{ 'success' if person else 'danger' }}">
        <h5 class="card-title">{{ person.name if person else 'Stranger' }} arrived</h5>
        {% if person %}
        <p class="card-text">We Recognized it as the following person</p>
        <a href="{{ url_for('get_person', object_id=person.id) }}" class="btn btn-primary">Info</a>
        {% else %}
        <p class="card-text">We didn't recognize this person, watch out!</p>
        {% endif %}
        <p class="card-text"><small class="text-muted">Stood at your doorstep at DATE</small></p>
    </div>
    {% if not person %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Age: {{ notification.attributes.age }}</li>
        <li class="list-group-item">Gender: {{ notification.attributes.gender}}</li>
    </ul>
    {% endif %}
</div>

{% endblock %}