{% extends "base.html" %}
{% block title %}Detected strangers{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Registered people</h1>
<ul>
{% for person in persons %}
    <li>
        {{ person.name }}<br/><br/>
        {{ person.person_proup }}<br/>
        <div>
            {% for face_id in person.trained_faces %}
            <img src="{{ url_for('face_get', object_id = face_id) }}"/>
            {% endfor %}
        </div>
    </li>
{% endfor %}
</ul>

{% endblock %}