{% extends "base.html" %}
{% block title %}Detected strangers{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Notification history</h1>
<div class="list-group">
{% for notification in notifications %}
    <a href="{{ url_for('show_notification', notification_id=notification.id)}}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ notification.id }}</h5>
      <small>X days ago</small>
    </div>
    <p class="mb-1">{{ notification.msg }}</p>
    <small>{{ notification.msg_type if notification.msg_type else 'Unknown' }}</small>
  </a>
{% endfor %}
</div>

{% endblock %}