{% extends "base.html" %}
{% block title %}Detected strangers{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container-fluid">
<h1>All Faces</h1>
<ul class="list-group">
{% for face in faces %}
    <li class="list-group-item">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="{{ url_for('face_get',object_id=face.id) }}" style="width: 400px"/>
                </div>
                <div class="col">
                    <div class="list-group">
                        {% if face.person %}
                            <a href="{{ url_for('get_person', object_id=face.person) }}" class="list-group-item list-group-item-action">Person</a>
                        {% endif %}
                        <a href="{{ url_for('face_delete', object_id=face.id) }}" class="list-group-item list-group-item-action">delete</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
{% endfor %}
</ul>
</div>
{% endblock %}